@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import "navbarStyle.css";
body{    font-family: 'Poppins', sans-serif;
}
.res-box{
    background-color: #fed767;
    border-radius: 10px;
    border:1px solid black;
    padding: 3px;

    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;

}
.res-box:hover{
    cursor: pointer;
}
.grid-container{
    display: grid;
    grid-template-columns: 800px 330px;
    column-gap: 20px;
    row-gap: 0;
    width: 1141px;
    margin:auto;
}
.grid-item{

}
.btn{
    margin-right: 10px;
}
.res-title{
    margin-left: 20px;
    width: fit-content;
}
.res-time{
    margin-left: 30px;
    width: fit-content;
}
.res-date{
    margin-left: 30px;
    width: fit-content;
}
.res-link{
    text-decoration: none;
    color: black;
}
.form{
    border: 2px solid #00000040;
    border-radius: 10px;
    padding: 20px;
    height: 400px;
    width: 300px;
    text-align: center;
}
.res-con{
    background-color: #f1f1f1;
    padding-top: 20px;
    border-radius: 10px;
}
.warn{
    color: red;
}
button, input, select{
    font-family: inherit;
}
button, input, select{
    font-family: inherit;
}