@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
body{    font-family: 'Poppins', sans-serif;
}
.res-box{
    background-color: #fed767;
    border-radius: 5px;
    padding: 3px;

    margin: auto;
    text-decoration: none;
}