<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookings</title>
    <link href="../static/css/booking_my.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <h1>My bookings</h1>

    <a href="/hello">
        <div class="res-box">
            <p class="res-title">Activity: <span>Paintball</span></p>
            <p class="res-date">Date: <span>2021-03-23</span></p>
            <p class="res-time">Time: <span>10:00-12:00</span></p>
        </div>
    </a>

</div>
<div>
    <h1>Booking editor</h1>
</div>

<script src="../static/js/booking_my.js" type="text/javascript"></script>
</body>
</html>