<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <link rel="stylesheet" href="../static/css/storeItemManageStyle.css" type="text/css">
</head>
<body>
    <p></p>

    <div class="addItemForm">
        <h3>Add item to shop</h3>
        <form>
            <div class="nameField">
                <label for="name" class="label">Name: </label>
                <input required id="name" name="name" placeholder="" class="input">
                <span id="namereq"></span>
            </div>

            <div class="priceField">
                <label for="price" class="label">Price: </label>
                <input required id="price" name="price" placeholder="" class="input">
                <span id="pricereq"></span>
            </div>

            <button onclick="postItem(document.getElementById('name').value,document.getElementById('price').value)"
            type="button">
                Add
            </button>
        </form>
    </div>

    <br>
    <!--
    <div th:each="storeitem : ${storeitems}" class="itemListing">
        <span th:text="${storeitem.getName()}" id="item-name"></span>
        <input th:value="${storeitem.getName()}" id="edit-name" class="edit-name-input">
        <br>
        <span>Price: </span>
        <span th:text="${storeitem.getPrice()}"></span>
        <span> ,-</span>
        <br>
        <div style="display:inline-block;">
            <button onclick="saveItem()" style="display:none" id="edit-save">Save</button>
            <input type="hidden" th:value="${storeitem.getId()}" name="id">
            <button onclick="editItem()" id="edit-btn">Edit</button>
        </div>
        <div id="del" style="display:inline-block;">
            <input type="hidden" th:value="${storeitem.getId()}" id="getid">
            <input type="hidden" th:value="${storeitem.getName()}" id="getname">
            <button onclick="delItem(document.getElementById('getid').value,document.getElementById('getname').value)">Delete</button>
        </div>
    </div>
    -->

    <!-- Generated in store.js -->
    <div id="item-list-div">
    </div>

</body>
<script src="../static/js/store.js"></script>

</html>