<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cashier interface</title>
    <link rel="stylesheet" href="../static/css/cashierInterface.css" type="text/css">
</head>
<body>
    <div>
        <div class="nav-buttons"><a th:href="@{/emenu}"><button>Menu</button></a></div>
        <div class="nav-buttons"><button onclick="window.location.reload()">Reload</button></div>
    </div>
    <!-- Generated in JS -->
    <div id="outer-list-div">
        <div id="list-div">
            <h3>Products: </h3>
        </div>
    </div>

    <div id="outer-basket-div">
        <div id="basket-div">
            <h3>Basket: </h3>
        </div>
        <br>
        <span id="total-price"></span>
        <br>
        <button id="payment" onclick="paymentBtn()">Payment</button>
    </div>

</body>
<script src="../static/js/cashierInterface.js"></script>
</html>