<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Work Schedule</title>
    <link href="../static/css/work-schedule.css" rel="stylesheet" type="text/css">
</head>
<body>
<div style="text-align: left;">
    <div class="nav-buttons"><a th:href="@{/emenu}"><button>Menu</button></a></div>
    <div class="nav-buttons"><button onclick="window.location.reload()">Reload</button></div>
</div>
<div>
    <h1 class="title"></h1>
    <div class="divide">
        <div class="cal">
            <input type="text" class="cal-search-inp"><button class="cal-search-btn">Search</button><button class="cal-clear-btn">Clear</button>
            <button class="preBtn">👈 Previous Month</button>
            <span class="period"><!-- 3/2021 --></span>
            <button class="nextBtn">Next Month 👉</button>
            <div class="grid-container">
                <div class="grid-item"><p>Monday</p></div>
                <div class="grid-item"><p>Tuesday</p></div>
                <div class="grid-item"><p>Wednesday</p></div>
                <div class="grid-item"><p>Thursday</p></div>
                <div class="grid-item"><p>Friday</p></div>
                <div class="grid-item"><p>Saturday</p></div>
                <div class="grid-item"><p>Sunday</p></div>

                <div class="grid-item">
                    <div class="cal-box"><!--
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>-->
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box"><!--
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>-->
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box"><!--
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>-->
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box"><!--
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>-->
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box"><!--
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>-->
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box"><!--
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>-->
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box"><!--
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>
                        <p class="assignment">Test</p>-->
                        <span class="date"></span>
                    </div>
                </div>

                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>

                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="cal-box">
                        <span class="date"></span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div>
                <h1>Instructor Overview</h1>
                <input type="text" class="ins-add-inp"><button class="ins-search-btn">Add</button>
                <div class="ins-box">
                    <!--
                    <p class="ins">Hänsel</p>
                    <p class="ins">Gretel</p>
                    <p class="ins">Rapunzel</p>
                    <p class="ins">Askepot</p>
                    <p class="ins">Snehvide</p>
                    <p class="ins">Rumleskaft</p>
                    <p class="ins">Lille rødhætte</p>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../static/js/work-schedule.js" type="text/javascript"></script>
</body>
</html>